@media (min-width: 992px) and (max-width: 1199.98px) {
    .slider-content .bg {
        width: 50%;
    }

    .home-services .small-card-image img {
        height: 140px;
    }

    .page-banner {
        height: 400px;
    }

    .contact iframe {
        height: 360px;
    }

    .home-services .low-opacity-logo {
        top: -110px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    :root {
        --h1: 29px;
        --h2: 27px;
        --h3: 24px;
        --h4: 22px;
        --h5: 19px;
        --h6: 17px;
        --lg: 17px;
        --bs: 15px;
        --sm: 14px;
    }

    .slider-content {
        height: 400px;
    }

    .slider-content .bg {
        width: 60%;
    }

    .hero .next svg, .hero .prev svg {
        height: 40px;
        width: 40px;
    }

    .home-services .small-card-image img {
        height: 140px;
    }

    .main-footer img {
        width: 90px;
    }

    .page-banner {
        height: 340px;
    }

    .about-us h1 {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .about .lg-text {
        font-size: var(--bs);
        margin-bottom: 8px;
    }

    .spd-group h2, .spd-group h3 {
        font-size: var(--h1);
        font-weight: 600;
    }

    .contact iframe {
        height: 320px;
    }

    .sectors .sectors-model h4 {
        font-size: var(--h3);
        font-weight: 600;
    }

    .contact-form {
        padding: 40px 0;
        background: transparent;
    }

    .home-services {
        padding-top: 40px;
    }

    .home-services .small-card {
        padding-bottom: 40px;
    }

    .home-services .low-opacity-logo {
        top: -88px;
    }
}

@media (max-width: 991.98px) {
    .slider-content .bg {
        opacity: 1;
    }

    .hero-slider .slick-dots {
        display: none !important;
    }

    .service-list p {
        padding: 0 0;
    }

    .mobile-menu .nav-ul a {
        font-weight: 600 !important;
    }

    .mobile-services-dropdown-menu a {
        padding: 8px 8px 8px 20px !important;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    :root {
        --h1: 26px;
        --h2: 24px;
        --h3: 22px;
        --h4: 20px;
        --h5: 18px;
        --h6: 16px;
        --lg: 16px;
        --bs: 14px;
        --sm: 13px;
    }

    .slider-content {
        height: 360px;
    }

    .slider-content .bg {
        width: 70%;
    }

    .hero .next svg, .hero .prev svg {
        height: 32px;
        width: 32px;
    }

    .slider-content .left-slider {
        padding-left: 40px;
    }

    .slider-content .right-slider {
        padding-right: 40px;
    }

    .client-logos {
        padding: 20px 0;
    }

    .home-welcome {
        padding: 52px 0;
    }

    .home-welcome h2 {
        font-weight: 600;
        margin-bottom: 12px;
    }

    .home-welcome .action {
        margin-top: 20px;
    }

    .home-services .small-card-image img {
        height: 140px;
    }

    .home-services .big-card-content h4 {
        font-weight: 500;
    }

    .home-services .small-card-content h5 {
        font-weight: 500;
    }

    .main-footer img {
        width: 80px;
    }

    .footer-bottom {
        margin-top: 16px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 13px;
    }

    .page-banner {
        height: 240px;
    }

    .about-us h1 {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .about .lg-text {
        font-size: var(--bs);
        margin-bottom: 8px;
    }

    .spd-group h2, .spd-group h3 {
        font-size: var(--h1);
        font-weight: 600;
    }

    .contact iframe {
        height: 240px;
    }

    .sectors .sectors-model h4 {
        font-size: var(--h3);
        font-weight: 600;
    }

    .quote {
        padding: 28px;
    }

    .inner-quote {
        padding: 0 0;
    }

    .contact-form {
        padding: 32px 0;
        background: transparent;
    }

    .contact-form .w-50 {
        width: 100% !important;
    }

    .contact-form .form-btn {
        margin-right: 0;
    }

    .contact-form .form-inner {
        margin-top: 28px;
    }

    .service-action .logo img {
        width: 90px;
    }

    .home-services {
        padding-top: 40px;
    }

    .home-services .small-card {
        padding-bottom: 40px;
    }

    .home-services .low-opacity-logo {
        top: -60px;
    }

    .client-logos img {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 575.98px) {
    :root {
        --h1: 25px;
        --h2: 23px;
        --h3: 21px;
        --h4: 18px;
        --h5: 17px;
        --h6: 15px;
        --lg: 15px;
        --bs: 14px;
        --sm: 13px;
    }

    .slider-content {
        height: 340px;
    }

    .slider-content .bg {
        width: 80%;
    }

    .slider-content .slider-text h1 {
        font-weight: 600;
        line-height: 1.3;
    }

    .slider-content .slider-text p {
        font-weight: 500;
        margin-top: 16px;
    }

    .hero .next svg, .hero .prev svg {
        height: 32px;
        width: 32px;
    }

    .slider-content .left-slider {
        padding-left: 60px;
    }

    .slider-content .right-slider {
        padding-right: 60px;
    }

    .client-logos {
        padding: 20px 0;
    }

    .home-welcome {
        padding: 48px 0;
    }

    .home-welcome h2 {
        font-weight: 600;
        margin-bottom: 12px;
    }

    .home-welcome .action {
        margin-top: 20px;
    }

    .home-services .small-card-image img {
        height: 110px;
    }

    .home-services .big-card-content h4 {
        font-weight: 500;
    }

    .home-services .small-card-content h5 {
        font-weight: 500;
    }

    .main-footer img {
        width: 80px;
    }

    .footer-bottom {
        margin-top: 16px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 13px;
    }

    .page-banner {
        height: 200px;
    }

    .about-us h1 {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .about .lg-text {
        font-size: var(--bs);
        margin-bottom: 8px;
    }

    .about-us {
        padding: 32px 0;
        border-bottom: 16px solid var(--off_white_color);
    }

    .spd-group {
        padding: 32px 0;
        border-top: 6px solid var(--white_color);
    }

    .spd-group h2, .spd-group h3 {
        font-size: var(--h1);
        font-weight: 600;
    }

    .plumbing {
        padding: 32px 0;
        border-bottom: 16px solid var(--off_white_color);
    }

    .service-list {
        padding: 32px 0;
        border-top: 6px solid var(--white_color);
    }

    .sectors-support {
        padding: 40px 0;
    }

    .contact iframe {
        height: 200px;
    }

    .sectors .sectors-model h4 {
        font-size: var(--h3);
        font-weight: 600;
    }

    .quote {
        padding: 28px;
    }

    .inner-quote {
        padding: 0 0;
    }

    .contact-form {
        padding: 32px 0;
        background: transparent;
    }

    .contact-form .w-50 {
        width: 100% !important;
    }

    .contact-form .form-btn {
        margin-right: 0;
    }

    .contact-form .form-inner {
        margin-top: 16px;
    }

    .contact-form h1 {
        font-weight: 500;
        margin-bottom: 12px;
    }

    .home-services {
        padding-top: 40px;
    }

    .service-action .logo img {
        width: 80px;
    }

    .home-services .service-action-content {
        margin-top: 24px;
    }

    .home-services .small-card {
        padding-bottom: 40px;
    }

    .home-services .low-opacity-logo {
        top: -50px;
    }

    .home-services .service-action {
        padding: 32px 0;
    }

    .client-logos img {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 415.98px) {
    .slider-content .bg {
        width: 85%;
    }
}